@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



* {
   
   background-color: rgb(0, 0, 0);
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;}
  
.hide {
    display: none;
}

 


#title{

          text-align: center;
          
}

button{
  
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.7em;
  font-weight: 500; 
  background-color: #28282895;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;

}

button:hover {
   
  transform: scale(1.2);
  
 animation: brilloBloque 3s ease-out infinite alternate;
 
}

@keyframes brilloBloque {
  0% {
    box-shadow: 
      0 0 1px #fff,
      0 0 10px rgba(12, 22, 211, 0.315),
      0 0 20px rgba(44, 6, 180, 0.5),
      0 0 10px rgba(16, 102, 102, 0.637);
  }

  50% {
    box-shadow: 
      0 0 1px #fff,
      0 6px 10px rgba(37, 97, 160, 0.326),
      0 10px 20px rgb(121, 98, 207),
      0 0 10px rgb(11, 37, 37);
  }

  100% {
    box-shadow:
      0 0 10px #fff,
      0 0 10px rgb(146, 151, 76),
      0 0 10px rgb(66, 83, 34),
      0 0 30px rgb(181, 184, 25);
  }
}

#input{
display: flex;
justify-content: center;
gap: 10px;

}

#output{

          display: flex;
          flex-direction: column;
          align-items: center;
justify-content: center;
gap: 10px;

}