@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



* {
   
   background-color: rgb(0, 0, 0);
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;}
  
.hide {
    display: none;
}

 


#title{

          text-align: center;
          
}